In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [44]:
df = pd.read_csv("refined_american_culture_dataset.csv")
df.columns
df.head(10)

,Name,Age,City,FinancialStatus,Meal_Drink,Dressing,Hobby
0,Sophia,8,Dallas,233,Chocolate Milk,T-shirt & Shorts,Cartoons
1,Ashley,38,Houston,3454,Steak,Sundress & Cardigan,Cooking
2,Ethan,7,Dallas,345,Chocolate Milk,Hoodie & Jeans,Cartoons
3,Daniel,44,Boston,6543,Green Smoothie,Formal Suit,Golf
4,Amanda,44,Dallas,6435,Wine,Sundress & Cardigan,Yoga
5,Daniel,39,Phoenix,8049,Salmon,Formal Suit,Wine Tasting
6,Joseph,65,Seattle,9599,Oatmeal,Sweater & Slacks,Knitting
7,Matthew,64,Boston,5345,Oatmeal,Plaid Shirt & Jeans,Knitting
8,Jennifer,51,Miami,2344,Red Wine,Comfortable Cardigan,Fishing
9,Michael,46,Los Angeles,3455,Wine,Sundress & Cardigan,Cooking

In [45]:
# transforming categorical data to numerical data
categorical_col = ['Age', 'City', 'FinancialStatus', 'Meal_Drink',
       'Dressing', 'Hobby']
label_encoders = {}
for columns in categorical_col:
    le = LabelEncoder()
    df[columns] = le.fit_transform(df[columns])
    label_encoders[columns] = le
# viewing the new numerical data
df.head()

     Name  Age  City  FinancialStatus  Meal_Drink  Dressing  Hobby
0  Sophia    2     2                1           4        19      2
1  Ashley   20     3               34          20        17      3
2   Ethan    1     2                5           4        10      2
3  Daniel   25     0               60           7         8      7
4  Amanda   25     2               59          23        17     22

In [53]:
X = df[["Age", "City", "FinancialStatus"]]
y_meal = df['Meal_Drink']
y_outfit = df['Dressing']
y_hobby = df['Hobby']

In [54]:
X_train, X_test, y_meal_train, y_meal_test = train_test_split(X, y_meal, test_size=0.2, random_state=42)
X_train, X_test, y_outfit_train, y_outfit_test = train_test_split(X, y_outfit, test_size=0.2, random_state=42)
X_train, X_test, y_hobby_train, y_hobby_test = train_test_split(X, y_hobby, test_size=0.2, random_state=42)

In [55]:
# Train Decision Trees
meal_model = DecisionTreeClassifier().fit(X_train, y_meal_train)
outfit_model = DecisionTreeClassifier().fit(X_train, y_outfit_train)
hobby_model = DecisionTreeClassifier().fit(X_train, y_hobby_train)

In [82]:
# Sample input
age = 20
city = "New York"
financial_status = 1200

In [ ]:
user_input = input("What is your Age: "), input("") ,input("Financial Status: ")

# age = int(user_input[0])
# city = user_input[1]
# financial_status = int(user_input[2])

In [86]:
city_encoded = label_encoders["City"].transform([(city)])[0]
financial_encoded = label_encoders["FinancialStatus"].transform([financial_status])[0]
user_input = pd.DataFrame([[age,city,  financial_status]])

In [87]:
# Encode input values
city_encoded = label_encoders["City"].transform([city])[0]  # Encode the city
financial_encoded = label_encoders["FinancialStatus"].transform([str(financial_status)])[0]  # Encode financial status as a string
user_input = [[age, city_encoded, financial_encoded]]  # Create the input array with encoded values

# Generate recommendations
recommended_meal = label_encoders["Meal_Drink"].inverse_transform(meal_model.predict(user_input))[0]
recommended_outfit = label_encoders["Dressing"].inverse_transform(outfit_model.predict(user_input))[0]
recommended_hobby = label_encoders["Hobby"].inverse_transform(hobby_model.predict(user_input))[0]

# Output recommendations
print("Meal Recommendation:", recommended_meal)
print("Outfit Recommendation:", recommended_outfit)
print("Hobby Recommendation:", recommended_hobby)

Meal Recommendation: BBQ Ribs
Outfit Recommendation: Sundress & Cardigan
Hobby Recommendation: Yoga

C:\Users\John\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\John\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\John\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(